
*:root {
    --roxo-principal: #1f0549;
    --cinza-fundo: #2c2c2c;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cinza-fundo);
    color: #dfdfdf;
}

header {
    background: var(--roxo-principal);
    color: white;
    padding: 20px 0;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 100px;
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links a:hover {
    color: #a3a3a3;
}

.hero {
    text-align: center;
    padding: 40px;
    background: #4B3F72;
}

.hero h2 {
    margin: 0;
    font-size: 36px;
}

.hero p {
    font-size: 18px;
}

main {
    padding: 20px;
}

#featured-games {
    text-align: center;
}

#featured-games h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.game-link {
    display: block;
    text-decoration: none;
    color: #c5c5c5;
    max-width: 200px;
}

.game-cover {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all .40s;
}

.game-cover:hover {
    transform: scale(0.9);
}

footer {
    background: var(--roxo-principal);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
